.base {
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 0.375rem;
    border: none;
    margin: 0.25rem;
    min-height: 30px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .primary {
    background-color: #b23850;
    /* #9790DA; */
    /* #2563eb; */
    color: white;
    /* border: 2px solid #9790DA;   */
  }
  
  .secondary {
    background-color: #F4C10E;
    /* #FF6B6B; */
    color: white;
    /* border: 2px solid #F4C10E; */
  }

  .third {
    background-color: transparent;
    
  }
  
  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  