.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: #F7F9FB; */
    background-image: url('/bg-3.JPEG');
    background-size: cover;
    background-position: bottom;
    padding: 6rem;
}

.header {
    padding: 3rem;
    color: #013A63;
    justify-items: center;
}
.header h3{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.header p {
    font-size: 1.5rem;
}

.authForm {
    width: 70%;
    justify-items: center;
}

.signIn {
    margin: 4rem 0 0 0;
    color: #013A63;
    justify-items: center;
}


